<!DOCTYPE html>
<html>

<head>
  <title>Assistente de Evento</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <h1>Evento: <%= evento.nome %></h1>
    <h2>Despesas</h2>
    <p>
        <table border="1">
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Participante</th>
                <th>Ação</th>
            </tr>
            <% for(var i=0; i < despesasDoEvento.length; i++) { %>
                <tr>
                    <td><%= despesasDoEvento[i].descricao %></td>
                    <td><%= despesasDoEvento[i].valor %></td>
                    <td><%= despesasDoEvento[i].nomeCompleto %></td>
                    <td><a href="#" onclick="remover(<%= despesasDoEvento[i].idParticipante %>);">Remover</a></td>
                </tr>
            <% } %>
        </table>
    </p>
    <p>
        <a href="/assistente/">Início</a>
        <a href="/assistente/evento/<%= evento.id %>/despesas">Anterior</a>
        <a href="/assistente/evento/<%= evento.id %>/resumo">Próximo</a>
    </p>
</body>

</html>